---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* martel-300 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/martel-v1-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Martel Light'), local('Martel-Light'),
  url('../fonts/martel-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/martel-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/martel-v1-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/martel-v1-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/martel-v1-latin-300.svg#Martel') format('svg'); /* Legacy iOS */
}

/* amatic-sc-700 - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/amatic-sc-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
  url('../fonts/amatic-sc-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/amatic-sc-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/amatic-sc-v8-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/amatic-sc-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/amatic-sc-v8-latin-700.svg#AmaticSC') format('svg'); /* Legacy iOS */
}


// Our variables
$base-font-family: 'Amatic SC', cursive;
$base-font-size:   30px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-font-family: "Martel",Georgia,Cambria,"Times New Roman",Times,serif;
$text-font-size:   16px;
$text-line-height: 1.9;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;

$grey-color:       #888;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$outer-background-color: #f8f8f8;
$inner-background-color: #ffffff;

$base-color:       darken(#286da8, 20%);
$highlight-color: #4c9b75;
$highlight-color2: #70bec8;
$highlight-color3: #015249;

$brand-color:      $highlight-color;

// Width of the content area
$content-width:    900px;

$footer-height:    60px;

$on-palm:          600px;
$on-laptop:        900px;

$post-width:       400px;

$border-color:     #eeeeee;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
