---
layout: default
---

<div class="wrapper wide">

    <div class="post-list">
        <h1 class="post-title">Posts <a href="/feed.xml"><img src="{{ site.baseurl }}/images/feed-icon-28x28.png" alt="feed icon" style="margin-left: 15px"/></a></h1>

        {% for post in paginator.posts %}
        <article class="post">
            <span class="post-meta">
                <div class="day">{{ post.date | date: "%-d" }}</div>
                <div class="month">{{ post.date | date: "%b, %Y" }}</div>
            </span>

            <h1 class="post-header">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>

            <div class="post-preview">
                <!-- first image -->
                {% assign src = post.content | split: 'noscript' %}
                {% assign src = src[1] | split: 'src="' %}
                {% assign src = src[1] | split: '"' | first %}
                <div class="preview">
                    <img src="{{ src }}" class="thumbnail" />
                </div>
                <!-- /first image -->

                <p>
                    {% assign s = post.content | split:"<!--more-->" %}
                    {{ s[0] | strip_html }}
                    <a href="{{ post.url }}">Read More...</a>
                </p>
            </div>
        </article>
        {% endfor %}

        <div class="text-center">
            <ul class="pagination">
                {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path }}">«</a>
                    {% else %}
                <li class="disabled"><a href="#">«</a>
                    {% endif %}
                </li>

                <li><a href="#" class="disabled">{{ paginator.page }} of {{ paginator.total_pages }}</a></li>

                {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path }}">»</a>
                    {% else %}
                <li class="disabled"><a href="#">»</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="recent-posts">
        <h1 class="post-title">Recent</h1>
        <ul>
        {% for i in (0..10) %}
            <li><a class="post-link" href="{{ site.posts[i].url | prepend: site.baseurl }}">{{ site.posts[i].title }}</a></li>
        {% endfor %}
        </ul>
    </div>

</div>
