---
layout: default
---

{% for post in paginator.posts %}
<article class="post">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-image">
            {% assign inline_all = true %}
            {% if forloop.first == true or inline_all %}
            {% capture lqip_path %}{{site.gallerytag.url | remove_first: '/' }}/{{ post.preview | replace: '.jpg', '-preview-lqip.jpg' }}{% endcapture %}
            <!-- {{ lqip_path }} -->
            <div class="blur-container"><img src="{% base64 %}{{lqip_path}}{% endbase64 %}" class="blur" alt="{{post.title}} Preview"/></div>
            {% else %}
            <div class="blur-container"><img src="{{site.gallerytag.url}}/{{ post.preview | replace: '.jpg', '-preview-lqip.jpg' }}" class="blur" alt="{{post.title}} Preview"/></div>
            {% endif %}
            <img data-sizes="auto" alt="{{post.title}} Preview" class="lazyload"
                 data-srcset="{{site.gallerytag.url}}/{{ post.preview  | replace: '.jpg', '-preview-900.jpg'}} 900w, {{site.gallerytag.url}}/{{ post.preview  | replace: '.jpg', '-preview-1200.jpg'}} 1200w" />
            <noscript><img src="{{site.gallerytag.url}}/{{ post.preview  | replace: '.jpg', '-preview-1200.jpg'}}"/></noscript>
        </div>
    </a>

    <div class="post-preview">

        <div class="post-header">
            <div class="post-meta">{{ post.date | date: "%B %d, %Y" }}</div>

            <h1>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>
        </div>

        <p>
            {% assign s = post.content | split:"<!--more-->" %}
            {{ s[0] | strip_html }}
        </p>

        <div class="read-more"><a href="{{ post.url }}">Read More</a></div>
    </div>

    <div class="clear"></div>
</article>
{% endfor %}

<div class="center">
    <div class="pagination">
        {% if paginator.previous_page %}
        <span><a href="{{ paginator.previous_page_path }}">«</a>
            {% else %}
        <span class="disabled">«
            {% endif %}
        </span>

        {% for page in (1..paginator.total_pages) %}
        <span>
        {% if page == paginator.page %}
        <a href="#" class="active">{{ page }}</a>
        {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        </span>
        {% endfor %}

        {% if paginator.next_page %}
        <span><a href="{{ paginator.next_page_path }}">»</a>
            {% else %}
        <span class="disabled">»
            {% endif %}
        </span>
    </div>

    <div class="clear"></div>
</div>