<header class="site-header">

    <div class="site-title">
        <a href="/" title="Road Beers Logo">
            {% include small_logo.svg %}
            <h1>Road Beers</h1>
        </a>
    </div>

    <ul class="nav">
        <li><a class="{% if page.url == '/index.html' or page.url == '/' %}active{% endif %}" href="/">Home</a></li>
        <li><a class="{% if page.url contains '/destinations' %}active{% endif %}" href="/destinations">Destinations</a></li>
        <li><a class="{% if page.url contains '/about' %}active{% endif %}" href="/about">About</a></li>
        <li><div id="current-location">Currently in<br/>Sofia, Bulgaria</div></li>
        <li>
            <div class="center">
                <div class="social-icon"><a href="/feed.xml" title="RSS feed">{% include rss.svg %}</a></div>
                <div class="social-icon"><a href="https://www.facebook.com/wwwroadbeerscom/" title="Facebook page">{% include facebook.svg %}</a></div>
            </div>
        </li>
    </ul>

    <div class="clear"></div>

</header>