<header class="site-header">

    <div class="site-title">
        <a href="/">
            {% include small_logo.svg %}
            <h1>Road Beers</h1>
        </a>
    </div>

    <ul class="nav">
        <li><a class="{% if page.url == '/index.html' or page.url == '/' %}active{% endif %}" href="/">Home</a></li>
        <li><a class="{% if page.url contains '/destinations' %}active{% endif %}" href="/destinations">Destinations</a></li>
        <li><a class="{% if page.url contains '/about' %}active{% endif %}" href="/about">About</a></li>
        <li><div id="current-location">Currently in<br/>Hanoi, Vietnam</div></li>
        <li>
            <div class="social-icons">
                <div class="social-icon"><a href="/feed.xml"><img src="{{ site.baseurl }}/images/rss_feed.svg" alt="feed icon" /></a></div>
                <div class="social-icon"><a href="https://www.facebook.com/wwwroadbeerscom/">f</a></div>
            </div>
        </li>
    </ul>

    <div class="clear"></div>

</header>