/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/**
 * Basic styling
 */
body {
    height: 100%;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $base-font-family;
    color: $base-color;
    background-color: $background-color;

    &.fonts-loaded {
        font-family: $base-font-family-loaded;
    }

    p {
        font-size: $text-font-size;
        line-height: $text-line-height;
        font-family: $text-font-family;
    }

    &.fonts-loaded p {
        font-family: $text-font-family-loaded;
    }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Links
 */
a {
    color: $highlight-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {
    width: $content-width;
    margin: $spacing-unit/2 auto 0 auto;
    @extend %clearfix;

    @media screen and (max-width: $content-width - 1) {
        width: $content-width-small;
    }

    @media screen and (max-width: $content-width-small - 1) {
        margin: 0;
        width: 100%;
    }
}

.clear {
    @extend %clearfix;
}