
/* martel-300 - latin */
@font-face {
	font-family: 'Martel';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/martel-v1-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Martel Light'), local('Martel-Light'),
	url('../fonts/martel-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/martel-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/martel-v1-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/martel-v1-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/martel-v1-latin-300.svg#Martel') format('svg'); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Raleway'), local('Raleway-Regular'),
	url('../fonts/raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/raleway-v11-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

.pagination {
	display: inline-block;
	line-height: 3em;

	> span {
		margin: 0 $spacing-unit/2;

		a {
			border: 3px solid transparent;
			padding: $spacing-unit/2;
		}

		a:hover, a.active {
			@extend %button;
		}

	}
}

.site-footer {
	margin-top: $spacing-unit/2;
	background-color: $inner-background-color;
	padding: $spacing-unit/2;
	text-align: center;
}