/**
 * Site header
 */
$nav-height: 130px;
$small-nav-height: 70px;

.site-header {
  background-color: $outer-background-color;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);

  @media (min-width: 1050px) {
    padding-top: 30px;
  }
}

.navbar {
  border-radius: 0;
  border-top: 0;
  border-bottom: 1px solid $base-color;
  border-left: 0;
  border-right: 0;

  .site-title {
    float: left;

    svg {
      fill: $base-color;
      stroke: $base-color;
      display: block;
    }

    h1 {
      font-size: 50px;
      position: absolute;
      top: 20px;
      color: $highlight-color;
    }

    .left {
      right: 340px;
    }

    .right {
      left: 340px;
    }

  }

  .site-location {
    color: $highlight-color2;
  }

}

.site-nav {
  min-height: $nav-height;
  display: none;

  .site-title {
    position: relative;
    margin-right: 30px;
  }

  .navbar-content {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (min-width: 1050px) {
    display: block;
  }

  .container-fluid {
    max-width: 1050px;
    position: relative;
  }

  .nav {
    margin-right: 20px
  }
  
  li {
    height: $small-nav-height;
    padding: 0 5px 0 5px;
  }

  li > a {
    height: $small-nav-height;
    display: table-cell;
    vertical-align: middle;

    &:hover, &:focus, &:active, &.active {
      background-color: lighten($highlight-color2, 20%);
    }
  }

  .site-location {
    text-align: center;
    float: right;
    font-size: 0.8em;
    height: $small-nav-height;
    width: 200px;
  }

  .site-location > div {
    height: $small-nav-height;
    display: table-cell;
    vertical-align: middle;
  }

}

.site-nav-mobile {
  min-height: 88px;
  display: block;

  @media (min-width: 1050px) {
    display: none;
  }

  .navbar-content {
    float:right;
  }

  .nav {
    text-align: right;
  }

  .site-title {
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .site-location {
    clear: both;
    font-size: 0.8em;
    width: 100%;
    text-align: right;
  }

}

/**
 * Site footer
 */
.site-footer {
  font-size: 0.7em;
  border-top: 1px solid $base-color;
  text-align: center;

  position: relative;
  margin-top: -$footer-height; /* negative value of footer height */
  height: $footer-height;
  clear: both;

  background-color: $outer-background-color;
  box-shadow: 0px -1px 3px 0px rgba(50, 50, 50, 0.3);
}

.footer-heading {
  margin-top: $spacing-unit / 2;
}

/**
 * Page content
 */
.page-content {
  min-height: 100%;
  background-color: $inner-background-color;
  padding-bottom: $footer-height;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > article {
    margin-bottom: 15px;
    min-height: 240px;
  }

  .preview {
    float: left;

    > img {
      display: block;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

}

.pagination {
  margin: 0 auto;
}

.recent-posts {
  display: none;
  position: absolute;
  float: left;
  top: 0;
  right: -280px;
  width: 250px;

  @media (min-width: $content-width + 300px) {
    display: block;
  }

  li {
    list-style: none;
    font-size: 0.8em;
  }
}

.post-meta {
  font-size: $small-font-size;
  background-color: $highlight-color;
  color: #fff;
  float: left;
  text-align: center;
  width: 68px;
  height: 68px;
  padding: 5px;
  font-size: .6em;
  margin-right: 20px;

  .day {
    font-size: 33px;
    line-height: 33px;
  }
}

.post-header {
  @media (max-width: 700px) {
    min-height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.post-preview {
  margin-left: 88px;

  @media (max-width: 700px) {
    margin-left: 0px;
  }
}

.post-link {
  display: block;
}

.post-title {
  margin-top: 15px;
  font-size: 58px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;

  h1 {
    margin-top: 20px;
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  img {
    display: block;
    padding: 4px;
    margin: 0 auto 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
  }

  blockquote p {
    display: inline;
  }

}

.gallery-item {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;

  .thumbnail {
    margin-bottom: 5px;
  }

  .gallery-icon {
    width: 158px;
    height: 158px;
    position: relative;
    padding: 4px;
    margin: 0 auto 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;

    .lazy {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 150px;
      max-height: 150px;
      margin: auto;
    }

    img {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  .gallery-caption {
    font-size: 20px;
    margin-top: 0px;
    width: 150px;
  }
}

.lb-data .lb-details .lb-caption {
  font-size: 20px;
}

.jmt-days {
  font-size: 24px;

  li {
    margin-bottom: 10px;
      list-style: none;
  }

  li.active {

    a {
      color: $highlight-color2;
      font-weight: bold;
      text-decoration: underline;
    }

  }
}

.jmt-map {
  height: 500px;
}

.jmt-container {
  padding: 5px;
  width: 350px;
  background-color: #fff;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  .active, :hover {
    background-color: #ddd;
  }
}

div.accordionPanel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;

  ul {
    margin: 15px 0px;
  }

  li {
    list-style: none;
    margin: 10px 0px;
    font-size: 0.8em;
  }

  .show {
    opacity: 1;
    max-height: 700px;
  }
}

.fb-like {
  margin-bottom: 15px;
}