.site-header {
	min-height: $nav-height;
	position: relative;
	margin-bottom: $spacing-unit/2;
	padding: 0 $spacing-unit;
	background-color: $inner-background-color;

	@media screen and (max-width: $content-width-small - 1) {
		padding: $spacing-unit/2;
	}

	.site-title {
		float: left;
		height: 100%;

		svg {
			fill: $base-color;
			stroke: $base-color;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		h1 {
			color: $base-color;
			position: absolute;
			top: 50%;
			left: 160px;
			transform: translateY(-50%);

			@media screen and (max-width: $content-width - 1) {
				display: none;
			}
		}
	}

	.nav {
		float: right;
		list-style: none;
		margin-bottom: 0;

		> li {
			height: $nav-height;
			float: left;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			padding: 0 $spacing-unit / 2;
			min-height: 32px;

			@media screen and (max-width: $content-width-small - 1) {
				padding: 0 5px;
			}

			@media screen and (max-width: 800px) {
				height: auto;
				padding: 0;
				float: none;
				margin: 8px 0;
			}

			> a {
				border: 3px solid transparent;
				padding: $spacing-unit / 2;
				text-transform: uppercase;

				@media screen and (max-width: $content-width-small - 1) {
					height: auto;
					padding: 6px;
					margin: 0;
					float: none;
				}
			}

			> a:hover, > a.active {
				@extend %button;
			}
		}

		.social-icon {
			display: inline-block;
			margin: 0 5px;
			width: 32px;
			height: 32px;
			background: $base-color;
			border-radius: 16px;
		}
	}

}

.page-content {
	background-color: $inner-background-color;
	padding: $spacing-unit;

	@media screen and (max-width: $content-width-small - 1) {
		padding: $spacing-unit/2;
	}
}

.post {
	margin-bottom: $spacing-unit;

	.post-image {
		width: 100%;
		height: 580px;
		overflow: hidden;
		position: relative;

		@media screen and (max-width: $content-width - 1) {
			height: 435px;
		}

		@media screen and (max-width: $content-width-small - 1) {
			height: 290px;
		}

		@media screen and (max-width: 599px) {
			height: 180px;
		}

		> * {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 400ms;
		}

		.blur-container {
			overflow: hidden;

			* {
				width: 100%;
			}

		}
	}

	.post-preview {
		width: 60%;
		text-align: center;
		margin: 0 auto;

		@media screen and (max-width: $content-width-small - 1) {
			width: 100%;
			padding: 5px 0;
		}

		.post-header a {
			color: $base-color;
		}

		.read-more {
			margin: $spacing-unit;
			text-align: center;

			a {
				padding: $spacing-unit / 3;
				@extend %button;
			}
		}
	}

	.post-meta {
		color: $highlight-color;
	}

	.post-header {
		text-align: center;
		margin-top: $spacing-unit;

		&::after {
			content: "";
			display: block;
			width: 96px;
			height: 4px;
			background: $base-color;
			margin: $spacing-unit auto;
		}
	}

}

img.blur {
	filter: blur($blur);
}

img.lazyload, img.lazyloading, img.lazyerror {
	opacity: 0;
}

img.lazyloaded {
	opacity: 1;
}

.center {
	text-align: center;
}