/**
 * Site header
 */
$nav-height: 130px;
$small-nav-height: 70px;

.site-header {
  background-color: $outer-background-color;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);

  @media (min-width: 1050px) {
    padding-top: 30px;
  }
}

.navbar {
  border-radius: 0;
  border-top: 0;
  border-bottom: 1px solid $base-color;
  border-left: 0;
  border-right: 0;

  .site-title {
    float: left;

    svg {
      fill: $base-color;
      stroke: $base-color;
      display: block;
    }

    h1 {
      font-size: 50px;
      position: absolute;
      top: 20px;
      color: $highlight-color;
    }

    .left {
      right: 340px;
    }

    .right {
      left: 340px;
    }

  }

}

.site-nav {
  min-height: $nav-height;
  display: none;

  .site-title {
    position: relative;
    margin-right: 30px;
  }

  .navbar-content {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (min-width: 1050px) {
    display: block;
  }

  .container-fluid {
    max-width: 1050px;
    position: relative;
  }

  .nav {
    margin-right: 20px
  }
  
  li {
    height: $small-nav-height;
    padding: 0 5px 0 5px;
  }

  li > a {
    height: $small-nav-height;
    display: table-cell;
    vertical-align: middle;

    &:hover, &:focus, &:active, &.active {
      background-color: lighten($highlight-color2, 20%);
    }
  }

  .site-location {
    text-align: center;
    float: right;
    font-size: 0.8em;
    color: $highlight-color2;
    height: $small-nav-height;
    width: 200px;
  }

  .site-location > div {
    height: $small-nav-height;
    display: table-cell;
    vertical-align: middle;
  }

}

.site-nav-mobile {
  min-height: 88px;
  display: block;

  @media (min-width: 1050px) {
    display: none;
  }

  .navbar-content {
    float:right;
  }

  .nav {
    text-align: right;
  }

  .site-title {
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

  }

}

/**
 * Site footer
 */
.site-footer {
  font-size: 0.7em;
  border-top: 1px solid $base-color;
  text-align: center;

  position: relative;
  margin-top: -$footer-height; /* negative value of footer height */
  height: $footer-height;
  clear: both;

  background-color: $outer-background-color;
  box-shadow: 0px -1px 3px 0px rgba(50, 50, 50, 0.3);
}

.footer-heading {
  margin-top: $spacing-unit / 2;
}

/**
 * Page content
 */
.page-content {
  min-height: 100%;
  background-color: $inner-background-color;
  padding-bottom: $footer-height;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > article {
    margin-bottom: $spacing-unit;
    min-height: 200px;
  }

  .preview {
    float: left;

    > img {
      display: block;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  background-color: $highlight-color;
  color: #fff;
  float: left;
  text-align: center;
  width: 68px;
  height: 68px;
  padding: 5px;
  font-size: .6em;
  margin-right: 20px;

  .day {
    font-size: 33px;
    line-height: 33px;
  }
}

.post-preview {
  margin-left: 88px;
}

.post-link {
  display: block;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  margin-top: 15px;
  font-size: 58px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    margin-top: 20px;
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  img {
    margin: 0 auto;
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }

}

.gallery-item {
  float: left;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;

  .thumbnail {
    margin-bottom: 5px;
  }
}

.gallery-caption {
  font-size: 20px;
  margin-top: 0px;
  width: 150px;
}

.lb-data .lb-details .lb-caption {
  font-size: 20px;
}

.jmt-days {
  font-size: 24px;

  li {
    margin-bottom: 10px;
      list-style: none;
  }

  li.active {

    a {
      color: $highlight-color2;
      font-weight: bold;
      text-decoration: underline;
    }

  }
}

.jmt-map {
  height: 500px;
}

.jmt-container {
  padding: 5px;
  width: 350px;
  background-color: #fff;
}