---
layout: post
---
<style type="text/css">
    {% capture include_to_scssify %}{% include jmt.scss %}{% endcapture %}
    {{ include_to_scssify | scssify }}
</style>
<div id="jmt-days" class="jmt-days jmt-container"></div>
{{ content }}
<div id="jmt-map" class="jmt-map jmt-container" style="display:none"></div>

<script>
    (function() {
        var margin = 15;

        function showContainers() {
            var rect = document.querySelector('.post').getBoundingClientRect();
            var postOffset =  {
                top: rect.top + document.body.scrollTop,
                left: rect.left + document.body.scrollLeft
            };
            var jmtDays = document.getElementById('jmt-days');
            var jmtMap = document.getElementById('jmt-map');

            if (postOffset.left > jmtDays.offsetWidth + 2 * margin) {
                jmtDays.style.display = 'block';
                jmtDays.style.position = 'absolute';
                jmtDays.style.left = ((postOffset.left - jmtDays.offsetWidth) / 2) + 'px';
                jmtDays.style.top = postOffset.top + 'px';

                var html = '<ul>';
                var listItems = document.querySelectorAll('.post-content h1');
                var i;
                for (i = 0; i < listItems.length; i++) {
                    var elem = listItems[i];
                    html += '<li><a href="#day' + (i+1) + '">' + elem.innerText + '</a></li>';
                    elem.setAttribute('id', 'day' + (i+1));
                }
                html += '</ul>';
                jmtDays.innerHTML = html;

                /*jmtMap.css('display', 'block');*/
                jmtMap.style.position = 'absolute';
                jmtMap.style.right = ((postOffset.left - jmtMap.offsetWidth) / 2) + 'px';
                jmtMap.style.top = postOffset.top + 'px';
            } else {
                jmtDays.style.display = 'none';
                jmtMap.style.display = 'none';
            }

            positionContainers();
            highlightActiveDay();
        }

        function positionContainers() {
            var rect = document.querySelector('.post').getBoundingClientRect();
            var postOffset =  {
                top: rect.top + document.body.scrollTop,
                left: rect.left + document.body.scrollLeft
            };
            var scroll = document.body.scrollTop;
            var jmtDays =  document.querySelector('.jmt-container');

            if (scroll >= postOffset.top + margin) {
                jmtDays.style.position = 'fixed';
                jmtDays.style.top = margin + 'px';
            } else {
                jmtDays.style.position = 'absolute';
                jmtDays.style.top = postOffset.top + 'px';
            }
        }

        function highlightActiveDay(updateHash) {
            var closest;

            var listItems = document.querySelectorAll('.post-content h1');
            var i, elem;
            for (i = 0; i < listItems.length; i++) {
                elem = listItems[i];
                if (!closest || Math.abs(elem.getBoundingClientRect().top) < Math.abs(closest.getBoundingClientRect().top)) {
                    closest = elem;
                }
            }

            listItems = document.querySelectorAll('.jmt-days li');
            for (i = 0; i < listItems.length; i++) {
                elem = listItems[i];
                if(elem.textContent === closest.textContent) {
                    elem.classList.add('active');
                } else {
                    elem.classList.remove('active');
                }
            }

            if(updateHash) {
                history.replaceState(undefined, undefined, '#' + closest.getAttribute('id'));
            }
        }

        showContainers(); /* TODO also bind that to resize */

        document.onscroll = function () {
            positionContainers();
            highlightActiveDay(true);
        };
    })();

    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('jmt-map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8,
            disableDefaultUI: true,
            draggable: false,
            disableDoubleClickZoom: true,
            mapTypeId: google.maps.MapTypeId.HYBRID
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD56SmCl6V9AengboOB2vXlG4CMBPpxtNY&callback=initMap" async defer></script>
