---
layout: post
---
<div id="jmt-days" class="jmt-days jmt-container" style="display: none;"></div>
{{ content }}
<div id="jmt-map" class="jmt-map jmt-container" style="display: none;"></div>

<script>
    (function() {
        var margin = 15;

        function showContainers() {
            var postOffset = $('.post').offset();
            var jmtDays = $('#jmt-days');
            var jmtMap = $('#jmt-map');

            if (postOffset.left > jmtDays.width() + 2 * margin) {
                jmtDays.css('display', 'block');
                jmtDays.css('position', 'absolute');
                jmtDays.css('left', (postOffset.left - jmtDays.width()) / 2);
                jmtDays.css('top', postOffset.top);

                var html = '<ul>';
                $('.post-content h1').each(function (index, elem) {
                    html += '<li><a href="#day' + (index+1) + '">' + elem.innerText + '</a></li>';
                    $(elem).attr('id', 'day' + (index+1));
                });
                html += '</ul>';
                jmtDays.html(html);

                //jmtMap.css('display', 'block');
                jmtMap.css('position', 'absolute');
                jmtMap.css('right', (postOffset.left - jmtMap.width()) / 2);
                jmtMap.css('top', postOffset.top);
            } else {
                jmtDays.css('display', 'none');
                jmtMap.css('display', 'none');
            }

            positionContainers();
            highlightActiveDay();
        }

        function positionContainers() {
            var postOffset = $('.post').offset();
            var scroll = $(window).scrollTop();
            var jmtDays = $('.jmt-container');

            if (scroll >= postOffset.top + margin) {
                jmtDays.css('position', 'fixed');
                jmtDays.css('top', margin);
            } else {
                jmtDays.css('position', 'absolute');
                jmtDays.css('top', postOffset.top);
            }
        }

        function highlightActiveDay(updateHash) {
            var closest;
            $('.post-content h1').each(function (index, elem) {
                elem = $(elem);
                var offset = $(window).scrollTop();
                if (!closest || Math.abs(elem.offset().top - offset) < Math.abs(closest.offset().top - offset)) {
                    closest = elem;
                }
            });

            $('.jmt-days li').each(function (index, elem) {
                elem = $(elem);
                if(elem.text() === closest.text()) {
                    elem.addClass('active');
                } else {
                    elem.removeClass('active');
                }
            });

            if(updateHash) {
                history.replaceState(undefined, undefined, '#' + closest.attr('id'));
            }
        }

        showContainers(); // TODO also bind that to resize

        $(window).scroll(function () {
            positionContainers();
            highlightActiveDay(true);
        });
    })();

    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('jmt-map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8,
            disableDefaultUI: true,
            draggable: false,
            disableDoubleClickZoom: true,
            mapTypeId: google.maps.MapTypeId.HYBRID
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD56SmCl6V9AengboOB2vXlG4CMBPpxtNY&callback=initMap"
async defer></script>
