---
layout: default
---
<style type="text/css">
    {% capture include_to_scssify %}{% include post.scss %}{% endcapture %}
    {{ include_to_scssify | scssify }}
</style>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-header">
        <div class="post-meta">{{ page.date | date: "%B %d, %Y" }}</div>

        <h1>
            {{ page.title }}
        </h1>
    </div>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

</article>

<script>
    var baguetteBoxLoaded = function () {
        baguetteBox.run('.gallery', {
            animation: 'fadeIn',
            buttons: true,
            overlayBackgroundColor: 'rgba(0,0,0,0.9)'
        });
    };
</script>
<script src="{{ "/js/baguetteBox.min.js" | prepend: site.baseurl }}" async defer onload="baguetteBoxLoaded()"></script>

<link rel="preload" href="{{ "/css/baguetteBox.min.css" | prepend: site.baseurl }}" as="style" onload="this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="{{ "/css/baguetteBox.min.css" | prepend: site.baseurl }}">
</noscript>